<h1>Members Only</h1>

<% if (currentUser) { %>
    <a href="/messages/new">Create a new message</a>

    <form method="POST" action="/logout">
        <button type="submit">Logout</button>
    </form>
<% } else { %>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
<% } %>

<hr />

<% if (!posts || posts.length === 0) { %>
  <p>No messages yet.</p>
<% } %>

<% (posts || []).forEach(post => { %>
  <article style="margin-bottom: 20px;">
    <h3><%= post.title %></h3>
    <p><%= post.content %></p>

    <% if (currentUser && currentUser.is_member) { %>
      <small>
        By <%= post.first_name %> <%= post.last_name %>
          <%= new Date(post.created_at).toLocaleString() %>
      </small>

    <% if (currentUser && currentUser.is_admin) { %>
        <form method="POST" action="/messages/<%= post.id %>/delete">
            <button type="submit">Delete</button>
        </form>
    <% } %>
    <% } %>
  </article>
<% }); %>
